/* ========================================================================
 * General common BootBites.com styling
 * Note specific to the tutorial.
 *
 * $see: css/tutorial.css file for tutorial specific CSS
 * ========================================================================
 * Copyright 2015 Bootbites.com (unless otherwise stated)
 * For license information see: http://bootbites.com/license
 * ======================================================================== */

/* ==================================================
  Regions
  ================================================== */
.navbar-bootbites{
  background-color: #6f5499;
  margin-bottom: 0;
  color: #e3e3e3;
}
.navbar-bootbites .navbar-brand,
.navbar-bootbites .navbar-nav > li > a {
  color: #e3e3e3;
}
.navbar-bootbites .btn {
  color: #f3f3f3;
}

.jumbotron-bootbites {
  background-color: #EBE1F9;
}

.content {
  padding: 3em 0;
}

.footer {
  border-top: 5px solid #eee;
  padding: 3em 0;
  margin-top: 3em;
  text-align: center;
}

/* ==================================================
  Styling
  ================================================== */
.btn {
  border-radius: 0;
}
.btn-bootbites {
  background: #6f5499;
  border-color: #6f5499 !important;
  border-radius: 0;
}
.btn-bootbites:hover,
.btn-bootbites:focus,
.btn-bootbites:active,
.btn-bootbites.active {
  background: #523e71;
}
.btn-bootbites-invert {
  background: #523e71;
  border-color: #523e71 !important;
  border-radius: 0;
}
.btn-bootbites-invert:hover,
.btn-bootbites-invert:focus,
.btn-bootbites-invert:active,
.btn-bootbites-invert.active {
  background: #6f5499;
}

/* ==================================================
  Common
  ================================================== */
.intro {
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: 5px solid #eee;
}
.demos .demo {
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid #eee;
}
.demos .demo:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

hr {
  margin-bottom: 3em;
  margin-top: 3em;
  height: 1px;
  background: #eee;

  &.hr-lg {
    height: 5px;
  }
}

