body {
  font-size: 14px;
  line-height: 20px;
}
#page {
  background-image: url([[pix:theme|bg]]);
}
header#page-header {
  background: none;
}
ul#accessibility {
  padding-left: 0;
}
#social-icons ul {
  margin-right: 0;
}
.nav-drawer {
  top: 225px;
  position: absolute;
}
.nav-drawer-sticky {
  top: 50px;
  position: fixed;
}
#page {
  margin-top: 235px;
}
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 285px;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.pos-a-t {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.visible-phone {
  display: none !important;
}
.list-unstyled li {
  display: list-item;
}
.portal-serchbox {
  padding-right: 20px;
}
#page-header {
  color: black;
}
.rodapesaida {
  margin-top: 20px;
}
.rodapesaida a,
.rodapesaida a:hover,
.rodapesaida .logininfo {
  color: white;
}
:target {
  padding-top: 8px !important;
  margin-top: 0px !important;
}
footer nav h2 {
  margin-left: 10px;
}
footer address p {
  color: white;
  padding-left: 10px;
}
.card-body {
  padding: 20px;
}
#region-main .card {
  min-height: 0;
}
#videoplayer {
  width: 32%;
}
#videoplayer iframe {
  width: 103%;
}
#news_featured {
  width: 66.2%;
  min-height: 363px;
}
