{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

{{> theme_moodleidg/barra }}

<header id="moodle-idg" class="pos-a-t">
    {{> theme_moodleidg/header }}
    {{> theme_boost/navbar }}
</header>

<div id="page-wrapper" class="layout">

    {{{ output.standard_top_of_body_html }}}

    <main>
        <div id="page" class="container-fluid">
            <div id="content">
                {{{ output.full_header }}}
                <div>
                    {{>theme_moodleidg/gridmarkup}}
                </div>
            </div>
            
            <div id="page-content" class="row">
                <div id="region-main-box" class="col-12">
                    {{#hasregionmainsettingsmenu}}
                        <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                            <div> {{{ output.region_main_settings_menu }}} </div>
                        </div>
                    {{/hasregionmainsettingsmenu}}
                    <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}}>
                        <div class="card">
                            <div class="card-body">
                                {{#hasregionmainsettingsmenu}}
                                    <div class="region_main_settings_menu_proxy"></div>
                                {{/hasregionmainsettingsmenu}}
                                {{{ output.course_content_header }}}
                                {{{ output.main_content }}}
                                {{{ output.activity_navigation }}}
                                {{{ output.course_content_footer }}}
                            </div>
                        </div>
                    </section>
                    {{#hasblocks}}
                        <section data-region="blocks-column" class="d-print-none">
                            {{{ sidepreblocks }}}
                        </section>
                    {{/hasblocks}}

                </div>
            </div>
        </div>
    </main>
    {{{ output.standard_after_main_region_html }}}
    {{> theme_boost/nav-drawer }}
    {{> theme_boost/footer }}
</div>



