{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/flat_navigation

    Display the flat navigation for the boost theme

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * flatnavigation - array of flat_navigation_nodes
      * showdivider - boolean
      * action - string
      * isactive - boolean
      * get_indent - integer
      * is_section - boolean
      * text - HTML

    Example context (json):
    {
        "flatnavigation" : [
            {
                "showdivider": false,
                "action": "#",
                "isactive": true,
                "get_indent": 1,
                "is_section": false,
                "text": "First"
            },{
                "showdivider": true,
                "action": "#",
                "isactive": false,
                "get_indent": 0,
                "is_section": true,
                "text": "Last &amp; Second"
            }
        ]
    }
}}

<nav class="list-group">
{{# flatnavigation }}
    {{#showdivider}}
</nav>
<nav class="list-group m-t-1">
    {{/showdivider}}
    {{#action}}
    <a class="list-group-item list-group-item-action {{#isactive}}font-weight-bold{{/isactive}}" href="{{{action}}}" data-key="{{key}}">
        <div class="m-l-{{get_indent}}">
            {{#is_section}}
                <div class="media">
                    <span class="media-left">
                        {{#pix}}i/folder{{/pix}}
                    </span>
                    <span class="media-body">{{{text}}}</span>
                </div>
            {{/is_section}}
            {{^is_section}}
                {{{text}}}
            {{/is_section}}
        </div>
    </a>
    {{/action}}
    {{^action}}
    <div class="list-group-item" data-key="{{key}}">
        <div class="m-l-{{get_indent}}">
            {{#is_section}}
                {{#pix}}i/folder{{/pix}}
            {{/is_section}}
            {{{text}}}
        </div>
    </div>
    {{/action}}
{{/ flatnavigation }}
</nav>



<div id="navigation">
    <a href="#" class="visible-phone visible-tablet mainmenu-toggle btn"><i class="icon-list"></i>&nbsp;Menu</a>
    <section id="navigation-section">
        <span class="hidden">Início do menu principal</span>
        <nav class="menu-de-apoio span9">
            <h2 class="hidden" style="cursor: default;">Temas relevantes</h2>
            <ul>
                <li><a href="interna-de-noticias.html" title="Conheça a identidade digital do governo">
                    Últimas Notícias</a></li>
                <li><a href="interna-de-noticias.html" title="Conheça a identidade digital do governo">
                    Conheça a identidade digital do governo</a></li>
            </ul>
        </nav>
        <nav class="assuntos">
            <h2 style="cursor: default;">Assuntos <i class="icon-chevron-down visible-phone visible-tablet pull-right"></i></h2>
            <ul>
                <li><a href="#" title="Editoria A">Editoria A</a></li>
                <li><a href="#" title="Editoria B">Editoria B</a></li>
                <li><a href="#" title="Editoria C">Editoria C</a></li>
                <li class="deeper parent"><a href="#" title="Editoria D">Editoria D</a>
                    <ul>
                        <li class="deeper parent"><a href="#">Subnível 1 - link 1</a>
                            <ul>
                                <li><a href="#">Subnível 2 - link 1</a></li>
                                <li class="deeper parent"><a href="#">Subnível 2 - link 2</a>
                                    <ul>
                                        <li class="deeper parent"><a href="#">Subnível 3 - link 1</a>
                                            <ul>
                                                <li class="current"><a href="#">Subnível 4 - link 1</a></li>
                                                <li><a href="#">Subnível 4 - link 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Subnível 3 - link 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Subnível 1 - link 2</a></li>
                        <li><a href="#">Subnível 1 - link 3</a></li>
                        <li><a href="#">Subnível 1 - link 4</a></li>
                        <li><a href="#">Subnível 1 - link 5</a></li>
                    </ul>
                </li>
                <li><a href="#" title="Editoria E">Editoria E</a></li>
                <li><a href="#" title="Editoria F">Editoria F</a></li>
                <li><a href="#" title="Editoria G">Editoria G</a></li>
                <li><a href="#" title="Editoria H">Editoria H</a></li>
                <li><a href="#" title="Editoria I">Editoria I</a></li>
                <li><a href="#" title="Editoria J">Editoria J</a></li>
            </ul>
        </nav>
        <nav class="span9 sobre">
            <h2 style="cursor: default;">Sobre <i class="icon-chevron-down visible-phone visible-tablet pull-right"></i></h2>
            <ul>
                <li><a href="#" title="Institucional">Institucional</a></li>
                <li><a href="#" title="Ações e Programas">Ações e Programas</a></li>
                <li><a href="#" title="Auditorias">Auditorias</a></li>
                <li><a href="#" title="Convênios">Convênios</a></li>
                <li><a href="#" title="Despesas">Despesas</a></li>
                <li><a href="#" title="Licitações e Contratos">Licitações e Contratos</a></li>
                <li><a href="#" title="Servidores">Servidores</a></li>
                <li><a href="interna-informacoes-classificadas.html" title="Informações classificadas">Informações classificadas</a></li>
                <li><a href="#" title="Serviço de Informação ao Cidadão - SIC">Serviço de Informação ao Cidadão - SIC</a></li>
                <li><a href="interna-perguntas-frequentes.html" title="Perguntas frequentes">Perguntas frequentes</a></li>
            </ul>
        </nav>
        <nav class="span9 central-conteudos">
            <h2 style="cursor: default;">Central de Conteúdos <i class="icon-chevron-down visible-phone visible-tablet pull-right"></i></h2>
            <ul>
                <li><a href="#" class="imagens" title="Imagens">
										<span class="icon-li icon-stack">
										  <i class="icon-circle icon-stack-base"><span class="hide">&nbsp;</span></i>
										  <i class="icon-picture icon-light"><span class="hide">&nbsp;</span></i>
										</span>
                    Imagens</a>
                </li>
                <li><a href="#" class="videos" title="Vídeos">
										<span class="icon-li icon-stack">
										  <i class="icon-circle icon-stack-base"><span class="hide">&nbsp;</span></i>
										  <i class="icon-play icon-light"><span class="hide">&nbsp;</span></i>
										</span>
                    Vídeos</a>
                </li>
                <li><a href="#" class="audios" title="Áudios">
										<span class="icon-li icon-stack">
										  <i class="icon-circle icon-stack-base"><span class="hide">&nbsp;</span></i>
										  <i class="icon-volume-up icon-light"><span class="hide">&nbsp;</span></i>
										</span>
                    Áudios</a>
                </li>
                <li><a href="#" class="publicacoes" title="Publicações">
										<span class="icon-li icon-stack">
										  <i class="icon-circle icon-stack-base"><span class="hide">&nbsp;</span></i>
										  <i class="icon-file-text icon-light"><span class="hide">&nbsp;</span></i>
										</span>
                    Publicações</a>
                </li>
                <li><a href="#" class="aplicativos" title="Aplicativos">
										<span class="icon-li icon-stack">
										  <i class="icon-circle icon-stack-base"><span class="hide">&nbsp;</span></i>
										  <i class="icon-mobile-phone icon-light"><span class="hide">&nbsp;</span></i>
										</span>
                    Aplicativos</a>
                </li>
                <!-- descomentar de acordo com necessidade do orgao -->
                <!-- <li><a href="#" class="infograficos" title="Imagens">
                    <span class="icon-li icon-stack">
                      <i class="icon-circle icon-stack-base"><span class="hide">&nbsp;</span></i>
                      <i class="icon-columns icon-light"><span class="hide">&nbsp;</span></i>
                    </span>
                    Infográficos</a>
                </li>
                <li><a href="#" class="estatisticas" title="Estatísticas">
                    <span class="icon-li icon-stack">
                      <i class="icon-circle icon-stack-base"><span class="hide">&nbsp;</span></i>
                      <i class="icon-bar-chart icon-light"><span class="hide">&nbsp;</span></i>
                    </span>
                    Estatísticas</a>
                </li>			 -->
            </ul>
        </nav>
        <span class="hide">Fim do menu principal</span>
    </section>
</div>
