{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid mt-0">

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12">
                    <div class="row justify-content-center">
                        <img style="margin-top: 20px" class="logovertical" src="{{{logovertical}}}"  height="150">
                    </div>
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                    <div  style="margin-top: 20px" class="row justify-content-center">
                        <img class="25anos" src="{{{25anos}}}" height="80">
                        <img class="10anos" src="{{{10anos}}}" height="80">
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{{> theme_boost/footer }}