body {
  font-size: 14px;
  line-height: 20px;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",
  Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

header#page-header {
  background: none;
}

ul#accessibility {
  padding-left: 0;
}

#social-icons {
  ul {
    margin-right: 0;
  }
}

#page {
  margin-top: 235px;
}

.pos-a-t {
  position: absolute;
  top: 32px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.visible-phone {
  display: none !important;
}

.list-unstyled li {
  display: list-item;
}

.portal-serchbox {
  padding-right: 20px;
}

#page-header {
  color: black;
}

.rodapesaida {

  margin-top: 20px;

  a,
  a:hover,
  .logininfo {
    color: white;
  }
}

:target {
  padding-top: 8px !important;
  margin-top: 0px !important;
}

footer {
  nav h2 {
    margin-left: 10px;
  }
  address {
    p {
      color: white;
      padding-left: 10px;
    }
  }
}

.card-body {
  padding: 10px;
}

#region-main {
  .card {
    min-height: 0;
  }
}

#nav-drawer nav a.list-group-item:first-child {
  border-top: 3px solid #0a5517;
  /*padding: 12px 5px 5px 10px;
  /*height: 32px;*/
  background: #eeeff2;
  text-transform: uppercase;
  font-size: .85em;
  line-height: 1em;
  color: #0a5517;
  font-weight: bold;
}

#nav-drawer nav a.font-weight-bold{
  background: #eeefff url([[pix:theme|menu-ativo]]) no-repeat 10px 14px;
  border-top: 2px solid #0a5517;
  border-bottom: 2px solid #0a5517;
  /* padding-left: 0;
   padding-right: 0;
  padding-bottom: 0; */
}

/* CONTRASTE */

.contraste {
.card,
#page-enrol-users #filterform,
.que .history, .userprofile .profile_tree section,
.groupinfobox, .forumpost,
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax .yui-layout-unit-right, .yui-skin-sam
.yui-layout.path-mod-chat-gui_ajax .yui-layout-unit-bottom, .yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-messages .chat-message.course-theme, .well {
  background-color: #0d0d0d;
  border-bottom-color: rgba(86, 86, 86, 1);
  color: white;
}
  .courses .coursebox.even, .courses .coursebox:hover {
    background-color: #454649;
  }

  .table-striped tbody tr:nth-of-type(odd), table.collection tbody tr:nth-of-type(odd), table#explaincaps tbody tr:nth-of-type(odd), table#defineroletable tbody tr:nth-of-type(odd), table.grading-report tbody tr:nth-of-type(odd), table#listdirectories tbody tr:nth-of-type(odd), table.rolecaps tbody tr:nth-of-type(odd), table.userenrolment tbody tr:nth-of-type(odd), form#movecourses table tbody tr:nth-of-type(odd), #page-admin-course-index .editcourse tbody tr:nth-of-type(odd), .forumheaderlist tbody tr:nth-of-type(odd), table.flexible tbody tr:nth-of-type(odd), .generaltable tbody tr:nth-of-type(odd){
    background-color: #3e3e3e;
  }
  .table th, table.collection th, table.flexible th, .generaltable th, .table td, table.collection td, table.flexible td, .generaltable td{
    border-top: 1px solid #616161;
  }
  .table-hover tbody tr:hover, table.grading-report tbody tr:hover, .forumheaderlist tbody tr:hover, .generaltable tbody tr:hover, table.flexible tbody tr:hover, .category_subcategories tbody tr:hover, table#modules tbody tr:hover, table#permissions tbody tr:hover{
    background-color: #636565;
  }
  .bg-dark {
    background-color: black;
  }
  .dropdown-menu, #nav-drawer nav a {
    background-color: black;
  }
  #nav-drawer nav a.font-weight-bold {
    background-color: #3a3a3e
  }
  #nav-drawer nav a.list-group-item:first-child {
    background-color: black;
    color: white;
  }

  #page-header .page-header-headings h1,
  #content.internas .borderHeading, #region-main .borderHeading, #content.internas h2, #region-main h2,
  .close:hover, .moodle-dialogue-base .closebutton:hover, .close:focus, .moodle-dialogue-base .closebutton:focus,
  header div.sobre .menubar .dropdown-menu a, header div.sobre .popover-region-container a, header div.sobre .popover-region-container,
  .navbar-dark a .icon{
    color: white!important;
  }

  .dropdown-item:hover, .dropdown-item:focus,
  .form-item:nth-child(even), .fitem:nth-child(even){
    color: white !important;
    background-color: #2E2D2D;
  }

  .page-link,
  .modal-content, .moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content{
    background-color: #262626 !important;
  }
  .form-item:nth-child(even), .fitem:nth-child(even) {
    background-color: #0d0d0d;
  }

  .custom-select,
  .btn-secondary, .btn-default, .popover-region-container {
    color: white !important;
    background-color: #2E2D2D;
  }

  .popover-region-footer-container {
    color: white !important;
    background-color: #0f0f0f;
  }

}

/* FIM CONTRASTE*/

.navigation {
  button.btn:after {
    content: '\25BC'; /*icone baixo */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  button.btn[aria-expanded=true]:after {
    content: "\25B2"; /*icone cima */
  }
}

.fb-page,
.fb-page span,
.fb-page span iframe[style] {
  width: 100% !important;
}

#menu-nav {
  a, nav {
    float: left;
  }
  a {
    margin-right: 20px;
  }
}

.course-content .current::before {
  border-left: none;
}

.form-item, .fitem {
  border-bottom: 1px solid #f5f7fa;
  padding: 10px 5px;
  margin: 0;
}
.form-item:nth-child(even), .fitem:nth-child(even) {background: #eeeff2}

.card-title {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 25px
}

header {
  div.sobre {
    nav.sobre a {
      font-size: .85rem;
    }
    .menubar .dropdown-menu a, .popover-region-container a, .popover-region-container {
    color: black !important;
    }
  }
  div.contraste {
    div.sobre .menubar .dropdown-menu a {
      color: yellow;
    }
    .dropdown-menu .dropdown-item {
      background: none;
    }
  }
}

#nav-drawer nav {
  a.list-group-item {
    border: none;
    border-top: 1px solid #ddd;
  }
  a.list-group-item:first-child {
    border-top: 3px solid #0a5517;
    padding: 12px 5px 5px 10px;
    height: 45px;
    background: #eeeff2;
    text-transform: uppercase;
    font-size: .75em;
    line-height: 1em;
    color: #0a5517;
  }
}

[data-region="drawer"] {
  top: 220px;
  position: absolute;
}

#nav-drawer.nav-drawer-sticky {
  top: 80px;
  position: fixed;
}

div.contraste {
  [data-region="drawer"] {
    background-color: #000!important;
  }

  #nav-drawer nav a.list-group-item:first-child {
    background: #1c1c1c !important;

  }
  div.sobre .menubar {
    .dropdown-menu a {
      color: yellow;
    }

  }

  .dropdown-item:focus, .dropdown-item:hover {
    background: #1c1c1c !important
  }
  .btn-primary {
      color: white;
      background-color: #000;
      border-color: #000;
  }

}

.list-group-item-action:focus, .list-group-item-action:hover {
  background: none;
}

.navbar {
  position: relative;
  padding: .3rem 1rem;
}

.card-title {
  text-transform: none;
}

#barra-brasil {
  position: fixed;
  left: 0;
  right: 285px;
  top: 0;
  z-index: 2000;
  width: 100%;
}

.dropdown {
  vertical-align: -webkit-baseline-middle;
}

.navbar-dark a .icon {
  color: black !important;
}

.navbar-brand{
  padding-top: 8px;
}

div.container-fluid .outstanding-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.usermenu .login {
    a {
      color: white;
    }
    a:hover {
      color: #4bb1cf;
    }
}
@media (max-width: 1030px) {
  #header-shortname{
    display: block;
  }
  #header-fullname{
    display: none;
  }

}
@media (min-width: 1030px) {
  #header-shortname{
    display: none;
  }
  #header-fullname{
    display: block;
  }
}
@media (max-width: 767px) {
  #moodleidg-searchbox{
    display: none;
  }
}

//Configuração das fontes internas em telas grandes
#content.internas, #region-main {
  ul li {
    font-size: 1em!important;
  }

  p {
    font-size: 1em!important;
  }

}

#region-main {
  div.qtext, div.info {
    h3 {
      font-size: 1em;
    }
  }
}