<div class="row">
    <div class="col-sm-4 module variacao-module-01">

            <div class="card-body">
                <div class="outstanding-header ">
                    <h2 class="outstanding-title">{{{ card1_title }}}</h2>
                </div>
                <p class="card-text">{{{ card1_content }}}</p>
                <a href="https://{{{saibamais1}}}" class="btn btn-primary">Saiba mais</a>
            </div>

    </div>
    <div class="col-sm-4 module variacao-module-02">

            <div class="card-body">
                <div class="outstanding-header ">
                    <h2 class="outstanding-title">{{{ card2_title }}}</h2>
                </div>
                <p class="card-text">{{{ card2_content }}}</p>
                <a href="https://{{{saibamais2}}}" class="btn btn-primary">Saiba mais</a>
            </div>

    </div>
    <div class="col-sm-4 module variacao-module-03">

            <div class="card-body">
                <div class="outstanding-header ">
                    <h2 class="outstanding-title">{{{ card3_title }}}</h2>
                </div>
                <p class="card-text">{{{ card3_content }}}</p>
                <a href="https://{{{saibamais3}}}" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>

</div>