<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{{ card1_title }}}</h4>
                <p class="card-text">{{{ card1_content }}}</p>
                <a href="https://{{{saibamais1}}}" class="btn btn-success">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{{ card2_title }}}</h4>
                <p class="card-text">{{{ card2_content }}}</p>
                <a href="https://{{{saibamais2}}}" class="btn btn-success">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{{ card3_title }}}</h4>
                <p class="card-text">{{{ card3_content }}}</p>
                <a href="https://{{{saibamais3}}}" class="btn btn-success">Saiba mais</a>
            </div>
        </div>
    </div>
</div>