<div class="row">
    <div class="col-md-4 module variacao-module-01">
        {{#homelefthasblocks}}
            <section data-region="blocks-column-1" class="hidden-print">
                {{{ homeleftblocks }}}
            </section>
        {{/homelefthasblocks}}
    </div>
    <div class="col-md-4 module variacao-module-02">
        {{#homemiddlehasblocks}}
            <section data-region="blocks-column-2" class="hidden-print">
                {{{ homemiddleblocks }}}
            </section>
        {{/homemiddlehasblocks}}
    </div>
    <div class="col-md-4 module variacao-module-03">
        {{#homerighthasblocks}}
            <section data-region="blocks-column-3" class="hidden-print">
                {{{ homerightblocks }}}
            </section>
        {{/homerighthasblocks}}

    </div>
</div>