<div id="topo">
    <div class="{{{container}}}">
        <div class="container-fixed-top ">
            <!-- fim .row-fluid -->
            <div class="row-fluid">
                <div id="logo" class="col-md-8 col-sm-12">
                    <a id="portal-logo" title="{{ organization }}}" href={{{ config.wwwroot }}}>
                        <span id="portal-description">{{{ organization }}}</span> <br />
                        <div id="portal-title" class="corto">{{{ fullname }}}</div>
                    </a>
                </div>
                <div class="header-accessibility">
                    <ul>
                        <li>
                            <a href="#" accesskey="6" class="link-contraste toggle-contraste">Alto Contraste</a>
                        </li>
                        <li class="last-item"><a target="_blank" href="http://www.vlibras.gov.br/" class="link-vlibras">Vlibras</a></li>
                    </ul>
                </div>
                <!-- fim .col-md-4 -->
            </div>
            <!-- fim .row-fluid -->
        </div>
        <!-- fim div.container-fixed-top -->
    </div>
</div>