<div class="list-group module module-box-01">

    <div class="header">
        <h2 class="title">Últimas notícias</h2>
    </div>


    {{#news}}
        <ul class="lista row-fluid">
            {{#item}}
                <li>
                    <a href="{{guid}}" class=" list-group-item-action flex-column align-items-start">

                            <h3 class="mb-1">{{title}}</h3>
                            <small class="text-muted">{{pubDate}}</small>

                        <!--<p class="mb-1">{{description}}</p>-->
                    </a>
                </li>
            {{/item}}
        </ul>

        <div class="footer">
            <a href="{{link}}" class="link">Acesse a lista completa</a>
        </div>
    {{/news}}

</div>