<h1 class="borderHeading">
    Últimas notícias
</h1>
<div class="content-header-options-1 row-fluid">
    <div class="documentByLine">
        <span class="documentAuthor">por <strong>Portal padrão</strong></span>
        <span class="separator">|</span>
        <span class="documentPublished"><strong>publicado</strong> 22/07/2013 09h56</span>
        <span class="separator">|</span>
        <span class="documentModified"><strong>última modificação</strong> 10/10/2013 10h33</span>
    </div>
</div>
<div class="tile-list-1">
    <div class="tileItem">
        <div class="span10 tileContent">
            <div class="tileImage">
                <a href="#">
                    <img src="images/msg-interna.jpg" alt="Imagem notícia horizontal tamanho 664" title="Imagem notícia horizontal tamanho 664" height="86" width="128" class="tileImage">
                </a>
            </div>
            <span class="subtitle">Chapéu da editoria</span>
            <h2 class="tileHeadline">
                <a href="#">Release 5: Título do release entre 35 e 90 caracteres</a>
            </h2>
            <span class="description">
                                  			Subtítulo do texto 1. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres
                                  		</span>
            <span class="keywords">
		                                      Tags:
		                                      <span>
		                                          <a rel="tag" href="#">Notícia</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Texto de marcação</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Portal Padrão</a>
		                                      </span>
		                                  </span>
        </div>
        <div class="span2 tileInfo">
            <ul>
                <li class="hide">por Portal Padrão</li>
                <li class="hide">publicado</li>
                <li><i class="icon-fixed-width icon-calendar"></i> 08/08/2013</li>
                <li><i class="icon-fixed-width icon-time"></i> 12h52</li>
                <li><i class="icon-fixed-width"></i> Artigo</li>
            </ul>
        </div>
    </div>
    <!-- div.tileItem -->

    <div class="tileItem">
        <div class="span10 tileContent">
            <div class="tileImage">
                <a href="#">
                    <img src="images/msg-interna.jpg" alt="Imagem notícia horizontal tamanho 664" title="Imagem notícia horizontal tamanho 664" height="86" width="128" class="tileImage">
                </a>
            </div>
            <span class="subtitle">Chapéu da editoria</span>
            <h2 class="tileHeadline">
                <a href="#">Texto 1 - Título da notícia entre 35 e 90 caracteres</a>
            </h2>
            <span class="description">
                                  			Subtítulo do texto 1. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres
                                  		</span>
            <span class="keywords">
		                                      Tags:
		                                      <span>
		                                          <a rel="tag" href="#">Notícia</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Texto de marcação</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Portal Padrão</a>
		                                      </span>
		                                  </span>
        </div>
        <div class="span2 tileInfo">
            <ul>
                <li class="hide">por Portal Padrão</li>
                <li class="hide">publicado</li>
                <li><i class="icon-fixed-width icon-calendar"></i> 08/08/2013</li>
                <li><i class="icon-fixed-width icon-time"></i> 12h52</li>
                <li><i class="icon-fixed-width"></i> Artigo</li>
            </ul>
        </div>
    </div>
    <!-- div.tileItem -->

    <div class="tileItem">
        <div class="span10 tileContent">
            <div class="tileImage">
                <a href="#">
                    <img src="images/msg-interna.jpg" alt="Imagem notícia horizontal tamanho 664" title="Imagem notícia horizontal tamanho 664" height="86" width="128" class="tileImage">
                </a>
            </div>
            <span class="subtitle">Chapéu da editoria</span>
            <h2 class="tileHeadline">
                <a href="#">Release 1 - Título da notícia entre 35 e 90 caracteres</a>
            </h2>
            <span class="description">
                                  			Subtítulo do texto 1. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres
                                  		</span>
            <span class="keywords">
		                                      Tags:
		                                      <span>
		                                          <a rel="tag" href="#">Notícia</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Texto de marcação</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Portal Padrão</a>
		                                      </span>
		                                  </span>
        </div>
        <div class="span2 tileInfo">
            <ul>
                <li class="hide">por Portal Padrão</li>
                <li class="hide">publicado</li>
                <li><i class="icon-fixed-width icon-calendar"></i> 08/08/2013</li>
                <li><i class="icon-fixed-width icon-time"></i> 12h52</li>
                <li><i class="icon-fixed-width"></i> Artigo</li>
            </ul>
        </div>
    </div>
    <!-- div.tileItem -->

    <div class="tileItem">
        <div class="span10 tileContent">
            <div class="tileImage">
                <a href="#">
                    <img src="images/msg-interna.jpg" alt="Imagem notícia horizontal tamanho 664" title="Imagem notícia horizontal tamanho 664" height="86" width="128" class="tileImage">
                </a>
            </div>
            <span class="subtitle">Chapéu da editoria</span>
            <h2 class="tileHeadline">
                <a href="#">Release 2 - Título da notícia entre 35 e 90 caracteres</a>
            </h2>
            <span class="description">
                                  			Subtítulo do texto 1. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres
                                  		</span>
            <span class="keywords">
		                                      Tags:
		                                      <span>
		                                          <a rel="tag" href="#">Notícia</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Texto de marcação</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Portal Padrão</a>
		                                      </span>
		                                  </span>
        </div>
        <div class="span2 tileInfo">
            <ul>
                <li class="hide">por Portal Padrão</li>
                <li class="hide">publicado</li>
                <li><i class="icon-fixed-width icon-calendar"></i> 08/08/2013</li>
                <li><i class="icon-fixed-width icon-time"></i> 12h52</li>
                <li><i class="icon-fixed-width"></i> Artigo</li>
            </ul>
        </div>
    </div>
    <!-- div.tileItem -->

    <div class="tileItem">
        <div class="span10 tileContent">
            <div class="tileImage">
                <a href="#">
                    <img src="images/msg-interna.jpg" alt="Imagem notícia horizontal tamanho 664" title="Imagem notícia horizontal tamanho 664" height="86" width="128" class="tileImage">
                </a>
            </div>
            <span class="subtitle">Chapéu da editoria</span>
            <h2 class="tileHeadline">
                <a href="#">Release 3 - Título da notícia entre 35 e 90 caracteres</a>
            </h2>
            <span class="description">
                                  			Subtítulo do texto 1. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres
                                  		</span>
            <span class="keywords">
		                                      Tags:
		                                      <span>
		                                          <a rel="tag" href="#">Notícia</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Texto de marcação</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Portal Padrão</a>
		                                      </span>
		                                  </span>
        </div>
        <div class="span2 tileInfo">
            <ul>
                <li class="hide">por Portal Padrão</li>
                <li class="hide">publicado</li>
                <li><i class="icon-fixed-width icon-calendar"></i> 08/08/2013</li>
                <li><i class="icon-fixed-width icon-time"></i> 12h52</li>
                <li><i class="icon-fixed-width"></i> Artigo</li>
            </ul>
        </div>
    </div>
    <!-- div.tileItem -->

    <div class="tileItem">
        <div class="span10 tileContent">
            <div class="tileImage">
                <a href="#">
                    <img src="images/msg-interna.jpg" alt="Imagem notícia horizontal tamanho 664" title="Imagem notícia horizontal tamanho 664" height="86" width="128" class="tileImage">
                </a>
            </div>
            <span class="subtitle">Chapéu da editoria</span>
            <h2 class="tileHeadline">
                <a href="#">Release 4 - Título da notícia entre 35 e 90 caracteres</a>
            </h2>
            <span class="description">
                                  			Subtítulo do texto 1. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres
                                  		</span>
            <span class="keywords">
		                                      Tags:
		                                      <span>
		                                          <a rel="tag" href="#">Notícia</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Texto de marcação</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Portal Padrão</a>
		                                      </span>
		                                  </span>
        </div>
        <div class="span2 tileInfo">
            <ul>
                <li class="hide">por Portal Padrão</li>
                <li class="hide">publicado</li>
                <li><i class="icon-fixed-width icon-calendar"></i> 08/08/2013</li>
                <li><i class="icon-fixed-width icon-time"></i> 12h52</li>
                <li><i class="icon-fixed-width"></i> Artigo</li>
            </ul>
        </div>
    </div>
    <!-- div.tileItem -->

    <div class="tileItem">
        <div class="span10 tileContent">
            <span class="subtitle">Chapéu da editoria</span>
            <h2 class="tileHeadline">
                <a href="#">Texto 2 - Título da notícia entre 35 e 90 caracteres</a>
            </h2>
            <span class="description">
                                  			Subtítulo do texto 1. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres
                                  		</span>
            <span class="keywords">
		                                      Tags:
		                                      <span>
		                                          <a rel="tag" href="#">Notícia</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Texto de marcação</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Portal Padrão</a>
		                                      </span>
		                                  </span>
        </div>
        <div class="span2 tileInfo">
            <ul>
                <li class="hide">por Portal Padrão</li>
                <li class="hide">publicado</li>
                <li><i class="icon-fixed-width icon-calendar"></i> 08/08/2013</li>
                <li><i class="icon-fixed-width icon-time"></i> 12h52</li>
                <li><i class="icon-fixed-width"></i> Artigo</li>
            </ul>
        </div>
    </div>
    <!-- div.tileItem -->

    <div class="tileItem">
        <div class="span10 tileContent">
            <div class="tileImage">
                <a href="#">
                    <img src="images/msg-interna.jpg" alt="Imagem notícia horizontal tamanho 664" title="Imagem notícia horizontal tamanho 664" height="86" width="128" class="tileImage">
                </a>
            </div>
            <span class="subtitle">Chapéu da editoria</span>
            <h2 class="tileHeadline">
                <a href="#">Texto 3 - Título da notícia entre 35 e 90 caracteres</a>
            </h2>
            <span class="description">
                                  			Subtítulo do texto 1. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres
                                  		</span>
            <span class="keywords">
		                                      Tags:
		                                      <span>
		                                          <a rel="tag" href="#">Notícia</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Texto de marcação</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Portal Padrão</a>
		                                      </span>
		                                  </span>
        </div>
        <div class="span2 tileInfo">
            <ul>
                <li class="hide">por Portal Padrão</li>
                <li class="hide">publicado</li>
                <li><i class="icon-fixed-width icon-calendar"></i> 08/08/2013</li>
                <li><i class="icon-fixed-width icon-time"></i> 12h52</li>
                <li><i class="icon-fixed-width"></i> Artigo</li>
            </ul>
        </div>
    </div>
    <!-- div.tileItem -->

    <div class="tileItem">
        <div class="span10 tileContent">
            <span class="subtitle">Chapéu da editoria</span>
            <h2 class="tileHeadline">
                <a href="#">Texto 4 - Título da notícia entre 35 e 90 caracteres</a>
            </h2>
            <span class="description">
                                  			Subtítulo do texto 1. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres
                                  		</span>
            <span class="keywords">
		                                      Tags:
		                                      <span>
		                                          <a rel="tag" href="#">Notícia</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Texto de marcação</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Portal Padrão</a>
		                                      </span>
		                                  </span>
        </div>
        <div class="span2 tileInfo">
            <ul>
                <li class="hide">por Portal Padrão</li>
                <li class="hide">publicado</li>
                <li><i class="icon-fixed-width icon-calendar"></i> 08/08/2013</li>
                <li><i class="icon-fixed-width icon-time"></i> 12h52</li>
                <li><i class="icon-fixed-width"></i> Artigo</li>
            </ul>
        </div>
    </div>
    <!-- div.tileItem -->

    <div class="tileItem">
        <div class="span10 tileContent">
            <span class="subtitle">Chapéu da editoria</span>
            <h2 class="tileHeadline">
                <a href="#">Texto 5 - Título da notícia entre 35 e 90 caracteres</a>
            </h2>
            <span class="description">
                                  			Subtítulo do texto 1. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres
                                  		</span>
            <span class="keywords">
		                                      Tags:
		                                      <span>
		                                          <a rel="tag" href="#">Notícia</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Texto de marcação</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Portal Padrão</a>
		                                      </span>
		                                  </span>
        </div>
        <div class="span2 tileInfo">
            <ul>
                <li class="hide">por Portal Padrão</li>
                <li class="hide">publicado</li>
                <li><i class="icon-fixed-width icon-calendar"></i> 08/08/2013</li>
                <li><i class="icon-fixed-width icon-time"></i> 12h52</li>
                <li><i class="icon-fixed-width"></i> Artigo</li>
            </ul>
        </div>
    </div>
    <!-- div.tileItem -->

    <div class="tileItem">
        <div class="span10 tileContent">
            <h2 class="tileHeadline">
                <a href="interna-de-noticias.html">Conheça o novo modelo de plataforma digital do governo federal</a>
            </h2>
            <span class="description">
                                  			Estrutura reúne o que há de mais adequado em soluções digitais de acessibilidade e de divulgação de informações nos mais variados formatos; conheça todos os detalhes deste novo modelo
                                  		</span>
            <span class="keywords">
		                                      Tags:
		                                      <span>
		                                          <a rel="tag" href="#">Identidade visual</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Secom</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Portal Padrão</a>
		                                      </span>
		                                  </span>
        </div>
        <div class="span2 tileInfo">
            <ul>
                <li class="hide">por Portal Padrão</li>
                <li class="hide">publicado</li>
                <li><i class="icon-fixed-width icon-calendar"></i> 08/08/2013</li>
                <li><i class="icon-fixed-width icon-time"></i> 12h52</li>
                <li><i class="icon-fixed-width"></i> Artigo</li>
            </ul>
        </div>
    </div>
    <!-- div.tileItem -->

    <div class="tileItem">
        <div class="span10 tileContent">
            <span class="subtitle">Legislação</span>
            <h2 class="tileHeadline">
                <a href="#">Saiba como montar o menu da Lei de Acesso à Informação</a>
            </h2>
            <span class="description">
                                  			Órgãos do governo federal devem disponibilizar em seu site um menu especificado pela LAI
                                  		</span>
            <span class="keywords">
		                                      Tags:
		                                      <span>
		                                          <a rel="tag" href="#">Portal padrão</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">LAI</a>,
		                                      </span>
		                                      <span>
		                                          <a rel="tag" href="#">Lei de acesso à informação</a>
		                                      </span>
		                                  </span>
        </div>
        <div class="span2 tileInfo">
            <ul>
                <li class="hide">por Portal Padrão</li>
                <li class="hide">publicado</li>
                <li><i class="icon-fixed-width icon-calendar"></i> 08/08/2013</li>
                <li><i class="icon-fixed-width icon-time"></i> 12h52</li>
                <li><i class="icon-fixed-width"></i> Artigo</li>
            </ul>
        </div>
    </div>
    <!-- div.tileItem -->