<div class="no-margin ">
    <p class="subtitle">Identidade Digital de Governo</p>
    <h1>
        <a title="Estrutura reúne o que há de mais adequado em soluções digitais de acessibilidade e de divulgação de
        informações nos mais variados formatos; conheça os detalhes deste novo modelo e acesse os manuais de identidade
        digital, estilo, instalação e gestão de conteúdo" href="#">
            Conheça o novo modelo de Ambiente Virtual de Aprendizagem do IFRR</a>
    </h1>
    <p>Estrutura reúne o que há de mais adequado em soluções digitais de acessibilidade e de divulgação de informações
        nos mais variados formatos; conheça os detalhes deste novo modelo e acesse os manuais de identidade digital,
        estilo, instalação e gestão de conteúdo. Estrutura reúne o que há de mais adequado em soluções digitais de acessibilidade e de divulgação de informações
    nos mais variados formatos; conheça os detalhes deste novo modelo e acesse os manuais de identidade digital,
    estilo, instalação e gestão de conteúdo</p>
</div>