
{{$image}}
    {{#image}}
        {{> block_rss_client/channel_image}}
    {{/image}}
{{/image}}

{{$title}}
    {{#title}}
            <div class="header">
                <h2 class="title">{{title}}</h2>
            </div>
    {{/title}}
{{/title}}

{{$items}}
    <ul class="lista row-fluid list no-overflow">
        {{#items}}
            {{> block_rss_client/item}}
        {{/items}}
    </ul>
{{/items}}
