
<li class="p-y-1">
    {{$title}}
        <div class="link">
            <a href="{{{link}}}"
               class=" list-group-item-action flex-column align-items-start"
               onclick='this.target="_blank"'>{{title}}</a>
        </div>
    {{/title}}

    {{$content}}
        {{#description}}
            <div class="date text-muted muted m-b-1">
                <small class="text-muted">{{{datepublished}}}</small>
            </div>
            <!--<div class="description">
                <p class="mb-1">{{{description}}}</p>
            </div> -->
        {{/description}}
    {{/content}}
</li>